 
# Proteccion para evitar hacking y ataques xss
# .fixed (no remover esta linea o se duplicara!)
RewriteEngine On
Options +FollowSymLinks
RewriteCond %{HTTP_USER_AGENT} ^$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^(-|\.|') [OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)(<|>|%3C|%3E)(.*) [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^(.*)(libwww-perl|libwwwperl|snoopy|java|curl|wget|winhttp|python|nikto|scan|clshttp|archiver|loader|email|harvest|fetch|extract|grab|miner|suck|reaper|leach)(.*) [NC]
RewriteRule ^.*$ - [F]
 
RewriteCond %{HTTP_HOST} ^gestarcoop\.com\.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.gestarcoop\.com\.ar$
RewriteRule ^/?$ "http\:\/\/www\.gestarcoop\.com\/" [R=301,L]

